@font-face {
  font-family: FiraCode;
  src: url(fontcode/FiraCode-VariableFont_wght.ttf);
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  text-align: center;
  background-image: url("img/julioE.webp");
  background-size: cover;
  font-family: FiraCode;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  /*flex: 0 1 auto;*/
  background-image: url("img/coliseu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 115%;
  background-color: #2f2e2e9c;

  /* The above is shorthand for:*/
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.box .row.content {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.how-to {
  width: 45%;
  background-color: #eae5dd94;
  margin: 20px;
  padding: 20px;
}
.how-to p {
  padding-left: 20px;
  padding-right: 20px;
}

.box .row.footer {
  /*flex: 0 1 40px;*/
  background-color: #090908bd;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 40px;
}
.copyright {
  font-family: "Segoe UI";
}

.texto-branco {
  color: rgb(255, 255, 255);
}
.cipher-panel {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 48%;
}
.cipher-panel h4 {
  color: #000;
}
#userInput,
#userInputD {
  width: 46%;
  resize: none; /* Não deixa o usuário redimencionar a caixa de mensagem */
  margin-bottom: 10px;
}

#key,
#keyD {
  width: 46%;
  margin-bottom: 10px;
}
.button-group {
  display: flex;
  justify-content: center;
}
.button-group button {
  width: 23%;
  color: #000;
  margin: 8px;
}
.github-logo {
  width: 63px;
  position: absolute;
  top: 1%;
  right: 7%;
}
.github-logo img {
  width: 63px;
}
